<div class="grid md:grid-cols-2 xl:grid-cols-4 gap-6">

    <div class="bg-gradient-to-br from-blue-600 to-cyan-500 rounded-3xl p-6 shadow-lg">

        <p class="text-white/80">
            Metas Totales
        </p>

        <h2 class="text-5xl font-black mt-2">
            {{ total }}
        </h2>

    </div>

    <div class="bg-gradient-to-br from-green-500 to-emerald-600 rounded-3xl p-6 shadow-lg">

        <p class="text-white/80">
            Completadas
        </p>

        <h2 class="text-5xl font-black mt-2">
            {{ completadas }}
        </h2>

    </div>

    <div class="bg-gradient-to-br from-orange-500 to-yellow-500 rounded-3xl p-6 shadow-lg">

        <p class="text-white/80">
            Submetas
        </p>

        <h2 class="text-5xl font-black mt-2">
            {{ submetas_total }}
        </h2>

    </div>

    <div class="bg-gradient-to-br from-violet-600 to-fuchsia-600 rounded-3xl p-6 shadow-lg">

        <p class="text-white/80">
            Progreso General
        </p>

        <h2 class="text-5xl font-black mt-2">
            {{ progreso_general }}%
        </h2>

    </div>

</div>